<IfModule mod_rewrite.c>

    RewriteEngine On

    #error control
    ErrorDocument 404 /

    #http to https
    RewriteCond %{HTTPS} !=on
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301] 

    #http to https
    RewriteCond %{HTTPS} !=on
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301] 

    #page rules
    RewriteRule ^login$ login.php [NC,L]
    RewriteRule ^registry$ registry.php [NC,L]
    RewriteRule ^reset$ reset-password.php [NC,L]
    RewriteRule ^write$ write.php [NC,L]

    #categories rules
    RewriteRule ^categories$ categories.php [NC,L]
    RewriteRule ^categories/([a-zA-Z0-9-]+)$ categories.php?category_title=$1 [L,QSA]
    
    #post rules
    RewriteRule ^([0-9]+)-([a-zA-Z0-9-]+)$ post.php?post_id=$1&sef=$2 [L,QSA]

    #user rules
    RewriteRule ^user-option$ user-option.php [NC,L]
    RewriteRule ^user/([^/]+)$ user.php?user_nick=$1 [L,QSA]

    #contact rules
    RewriteRule ^contact$ contact.php [NC,L]

    #search rules
    RewriteRule ^search$ search.php [NC,L]

    #sitemap.xml rules
    RewriteRule ^sitemap.xml$ sitemap.php [NC,L]
    RewriteRule ^sitemap-([0-9]+)\.xml$ sitemap.php?parca=$1 [NC,L]

    #robots.txt rules
    RewriteRule ^robots.txt$ robots.php [NC,L]

</IfModule>